<section class="about-us-section container">
  <h2 class="about-us-title">Чому Хатинка Лапок</h2>

  <div class="swiper about-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source media="(min-width: 1440px)" class="img-desktop" />
          <source media="(min-width: 768px)" class="img-tablet" />
          <img class="img-mobile" alt="About us slide 1" />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source media="(min-width: 1440px)" class="img-desktop" />
          <source media="(min-width: 768px)" class="img-tablet" />
          <img class="img-mobile" alt="About us slide 2" />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source media="(min-width: 1440px)" class="img-desktop" />
          <source media="(min-width: 768px)" class="img-tablet" />
          <img class="img-mobile" alt="About us slide 3" />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source media="(min-width: 1440px)" class="img-desktop" />
          <source media="(min-width: 768px)" class="img-tablet" />
          <img class="img-mobile" alt="About us slide 4" />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source media="(min-width: 1440px)" class="img-desktop" />
          <source media="(min-width: 768px)" class="img-tablet" />
          <img class="img-mobile" alt="About us slide 5" />
        </picture>
      </div>
    </div>
    <!-- Стрілки -->
    <button class="swiper-button-next">
      <img
        class="arrow arrow-next"
        src="/src/img/about-us/svg/arrow-right.svg"
        alt="Next"
      />
    </button>
    <button class="swiper-button-prev">
      <img
        class="arrow arrow-prev"
        src="/src/img/about-us/svg/arrow-left.svg"
        alt="Prev"
      />
    </button>

    <!-- Пагінація -->
    <div class="swiper-pagination"></div>
  </div>
</section>
