<header class="header">
  <div class="header__container">
    <a href="#top" class="header__logo">
      <img src="../img/header/logo.webp" alt="Хатинка лапок">
    </a>

    <nav class="nav nav--desktop">
      <a href="#friends">Знайди друга</a>
      <a href="#about">Про нас</a>
      <a href="#faq">Часті запитання</a>
      <a href="#stories">Історії успіху</a>
    </nav>

    <a href="#tails" class="btn btn--primary">Взяти друга</a>

    <!-- BURGER BUTTON -->
    <button class="burger" aria-label="Відкрити меню">
      <svg class="burger__icon" width="24" height="24">
        <use href="../img/SVG-sprite/burgermenu.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>

<!-- BURGER MENU -->
<div class="burger-menu">
  <div class="burger-menu__content">
    <img src="../img/header/logo.webp" alt="Логотип" class="burger-logo">

    <button class="burger-menu__close" aria-label="Закрити меню">
      <svg width="24" height="24">
        <use href="../img/SVG-sprite/close.svg#icon-close"></use>
      </svg>
    </button>

    <div class="burger-menu__center">
      <nav class="burger-menu__nav">
        <a href="#friends">Знайди друга</a>
        <a href="#about">Про нас</a>
        <a href="#faq">Часті запитання</a>
        <a href="#stories">Історії успіху</a>
      </nav>

      <a href="#tails" class="btn btn--primary">Взяти друга</a>
    </div>
  </div>
</div>
