.about-us-section {
  background: var(--color-scheme-1-background);
}

.about-us-title {
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;

  padding: 64px 20px 40px 20px;
}

@media screen and (min-width: 768px) {
  .about-us-title {
    padding: 64px 32px 40px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-title {
    padding: 80px 272px 40px 272px;
  }
}

.about-swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.swiper-slide::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 18%,
    rgba(0, 0, 0, 0.6) 63%
  );
}

.swiper-slide picture,
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.slide-text {
  position: absolute;
  z-index: 2;

  top: 238px;
  left: 20px;
  bottom: 20px;
  right: 20px;

  width: 295px;
  height: 144px;

  color: #f6f4f1;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .slide-text {
    top: 300.05px;
    left: 32px;
    bottom: 32px;

    width: 548px;
    height: 96px;
  }
}

@media screen and (min-width: 1440px) {
  .slide-text {
    font-size: 18px;

    top: 581px;
    left: 64px;

    width: 548px;
    height: 108px;
  }
}

.about-mobile-controls {
  width: 335px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto 64px;
  position: relative;
  z-index: 10;
}

.about-mobile-controls .about-swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: auto;
  margin-left: 40px;
}

.about-mobile-controls .about-swiper-buttons {
  display: flex;
  gap: 8px;
  padding: 8px 8px;
}

.about-mobile-controls .about-swiper-button-prev,
.about-mobile-controls .about-swiper-button-next {
  width: 48px;
  height: 48px;
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #c3b49d;
  border-radius: 8px;
  background: #eee9e3;

  cursor: pointer;
  transition: background-color 250ms ease, border-color 250ms ease,
    box-shadow 250ms ease, opacity 250ms ease;
}

.about-mobile-controls .about-swiper-button-prev:hover,
.about-mobile-controls .about-swiper-button-next:hover,
.about-mobile-controls .about-swiper-button-prev:focus-visible,
.about-mobile-controls .about-swiper-button-next:focus-visible {
  border: 1px solid #02060a;
  background: #eee9e3;
}

.about-mobile-controls .about-swiper-button-prev:active,
.about-mobile-controls .about-swiper-button-next:active {
  border: 1px solid #02060a;
  background: #eee9e3;

  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.about-mobile-controls .about-swiper-button-prev.swiper-button-disabled,
.about-mobile-controls .about-swiper-button-next.swiper-button-disabled {
  border: 1px solid #f6f4f1;
  background: #eee9e3;
  opacity: 0.4;

  cursor: default;
  pointer-events: none;
}

.about-mobile-controls .about-swiper-button-prev::after,
.about-mobile-controls .about-swiper-button-next::after {
  content: '';
}

.about-mobile-controls .about-swiper-button-prev img,
.about-mobile-controls .about-swiper-button-next img {
  width: 16px;
  height: 16px;
}
